
/* 기본 설정 */
*
{
    margin: 0;
    padding: 0;
}

/* 탭 버튼 */
.gyou
{
    width: 768px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}

/* 탭 목록 */
.tab table
{
    margin: 0;
    padding: 0;
    width: 768px;
}

/* 탭 목록 모양 */
.tab table td
{
    margin: 0;
    padding: 0;
    width: 152px;
    height: 30px;
    border: 1px solid black;
}