
/* check password box */
body>div{
  text-align: center;
}
#pwCheck{
  border: 1px solid gray;
  display: inline-block;
  padding:10px 20px 20px 20px;
  margin: 5px;
  text-align: left;
}
#password span{
  display: block;
  padding: 10px;
  text-align: center;
}
#password input{
  height: 25px;
  width: 220px;
}
#bottomBtn{
  clear: both;
  text-align: center;
}
#bottomBtn button{
  width: 80px; height: 40px;
  margin: 20px;
}

/* ν‘Έν„°!!!! */
#MEM_footer_wrap {
  width: 800px;
  margin: 0 auto;
  height: 100px;
  background-color: black;
}