@media screen and (max-width: 540px) {
/* My 페이지 카테고리 헤더 */
#haru_MYP_header {
    width: 100%; height: 110px;
    margin: 0 auto;
    color: white;
    background-image: url('../../../img/MYP.jpg');
    position: relative;
}

#haru_MYP_header > h1 {
    position: absolute;
    top: 30px;
    right: 80px;
}

/* 컨텐츠 360 */
#haru_contents_wrap {
    width: 100%;
}

/* 서브컨텐츠 */
#haru_subcontents {
    float: left;
    width: 100%;
}
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    /* My 페이지 카테고리 헤더 */
    #haru_MYP_header {
        width: 100%; height: 110px;
        margin: 0 auto;
        color: white;
        background-image: url('../../../img/MYP.jpg');
        position: relative;
    }
    
    #haru_MYP_header > h1 {
        position: absolute;
        top: 30px;
        right: 80px;
    }
    
    /* 컨텐츠 360 */
    #haru_contents_wrap {
        width: 100%;
    }
    
    /* 서브컨텐츠 */
    #haru_subcontents {
        float: left;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
        /* My 페이지 카테고리 헤더 */
    #haru_MYP_header {
        width: 100%;
    }

    /* 컨텐츠 */
    #haru_contents_wrap {
        width: 100%;        
        margin-top: 20px;
    }

    /* 서브컨텐츠 768 */
    #haru_subcontents {
        float: none;
        width: 768px;    
        margin: 0 auto;
        position: relative;
    }

    #haru_aside {
        float: left;
        position: relative;
        width: 100%;        
        margin-bottom: 40px;
    }
    /* My 페이지 카테고리 SNB 구성 */
    #haru_aside > #haru_snb {
        width: 392px;
        position: relative;
        margin: 0 auto;
        z-index: 1;
    }
    #haru_snb > ul { overflow: hidden; }
    #haru_snb > ul > li { float: left; }
    #haru_snb > ul > li > a {
        border-bottom: 0px;
        border-right: 1px solid black;
        margin:0;
    }
    
    .snb_link:active {
        transition-duration: 0.3s;
        background-color: #512B37;
        color: white;
    }
    #haru_snb > ul > li:last-child > a {
        border-right: 0px;
    }
    #haru_subtitle {
        margin-left: 10px;
    }
    #haru_cat {
        margin-right: 10px;
    }
}