@media(max-width: 360px) {
/* 외우자 카테고리 헤더 */
#haru_LRN_header {
    width: 360px; height: 110px;
    margin: 0 auto;
    color: white;
    background-image: url('../../../img/LRN.jpg');
    position: relative;
}

#haru_LRN_header > h1 {
    position: absolute;
    top: 30px;
    right: 80px;
}

/* 컨텐츠 360 */
#haru_contents_wrap {
    width: 360px;
}

/* 서브컨텐츠 768 */
#haru_subcontents {
    float: left;
    width: 360px;
}
}