
#stats{
  width: 800px; height: 400px;
  margin-bottom: 50px;
  padding-left: 80px;
  padding-top: 20px;
}

#graph_content
{
  float: left;
  text-align: right;
  margin-left: -60px;
}

.content
{
  height: 60px;
  line-height: 20px;
  margin: 5px;
}

#graph{
  width: 610px;
  border: 3px solid black;

  border-top: none;
  border-right: none;
}

.bar{
  width: 5px; height: 60px;
  background-color: RGB(175, 134, 114);
  margin: 5px;

  transition-duration: 2s;
  transition-timing-function: linear;
}

#stats:hover > #graph > .bar:nth-child(1){
  width: 500px;
}

#stats:hover > #graph > .bar:nth-child(2){
  width: 400px;
}

#stats:hover > #graph > .bar:nth-child(3){
  width: 200px;
}

#stats:hover > #graph > .bar:nth-child(4){
  width: 150px;
}

#stats:hover > #graph > .bar:nth-child(5){
  width: 80px;
}