
#stats{
  width: 800px; height: 400px;
  margin-bottom: 50px;
  
  padding-top: 20px;
  padding-left: 70px;
}

.exam_detail
{
  margin-bottom: 20px;
  font-weight: bold;
}

#graph_content
{
  float: left;
  text-align: right;
  margin-left: -60px;
  margin-top: -325px;
}

.content
{
  height: 60px;
  line-height: 20px;
  margin: 5px;
}

#graph
{
  width: 610px;
  border: 3px solid black;

  border-top: none;
  border-right: none;
}

#graph > .bar
{
  background-color: RGB(175, 134, 114);
  margin: 5px;
}

@media screen and (max-width: 540px) {

  #article_wrap
  {
    margin-left: 10px;
    margin-bottom: 0;
  }

  #stats
  {
    width: 450px;
    padding-left: 0;
    padding-top: 0;

    margin: 0 auto;
  }

  #graph_content
  {
    margin-left: 0px;
    margin-top: 0px;
  }
  
  .content
  {
    width: 55px;
    margin: 5px;

    font-size: 14px;

    text-align: center;
    float: left;
  }
  
  #graph{
    width: 340px;
    height: 300px;
    border-bottom: 3px solid black;
    border-left: none;
  }
  
  #graph > .bar{
    margin: 5px;
    float: left;
  }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
 
  #haru_subcontents
  {
    margin: 30px;
  }

  #article_wrap{
    width: 480px;
    margin: 0 auto;
  }

  #graph{
    width: 460px;
  }

  #stats{
    width: 460px;
    padding-left: 0;
    padding-top: 0;
  }
}