
.articleEditor>#category{
    float: left;
    width:100px;
    padding:5px;
    height:100%;
}

#articleTitle{
    width:650px;
    float: right;
}

@media (max-width:414px) {

    #articleTitle{
        width:100%;
    }
}