@media screen and (min-width: 768px) {/*width 768부터의 크기*/
/*
-webkit- 구글, 사파리 호환
-moz- 파이어폭스 호환
-ms- 익스플로어 호환
-o- 오페라 호환 
*/
.wrap {   /*가장 크게 감싼 div*/            
    width: 660px;    /*가로 넓이*/
    margin: 0 auto;   /*가운데 정렬*/
    overflow: hidden;    /*벗어난 부분은 안보이게 한다*/
    position: relative;   /*부모설정*/
    perspective: 1000;
    -webkit-perspective: 1000;    /*perspective 쓰면 */
    -moz-perspective: 1000;       /*살짝 굽어져서 돌아가는 느낌이 남*/
    -ms-perspective: 1000;
    -o-perspective: 1000;
  }
  .size {
      width: 300px;      /*사진을 담고 있는 div*/
      float: left;       /*가로로 정렬해서 값싼 wrap사이즈에 맞게끔 들어감 300이니고 랩660이니까 2개들어감*/
      margin: 15px;
  }
  .pic { 
      width: 300px; /*사진크기*/
      height: 300px;
      position: relative;
    -webkit-transform-style: preserve-3d;   /*이거 안쓰면 좌우반전만됨*/
    -webkit-transition: 0.5s;               /*걸리는 시간 0.5초*/
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
  }
  .photo {
    position: absolute;
    /*고정시켜줌*/    
    width: 100%;  
    height: 100%; 
    color:white;                
    /*글자색*/
    text-align: center;            
    /*중앙*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /*앞뒷면이 겹쳐 보일 수 있기 때문에*/
    border-radius: 50%;     
    /*사진을 동그랗게 만든다*/
   }
  .front { z-index: 10;}  
  .size:hover .front { z-index: 0;}

  .back {
    background: chocolate;
    -webkit-transform: rotateY(180deg);   /*rotateX면 위아래로 뒤집혀짐*/
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .size:hover .pic {
    -webkit-transform: rotateY(180deg);/*rotateX면 위아래로 뒤집혀짐*/
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .fp {                 
      width: 300px;
      height: 300px;
      border-radius: 50%;
      /*앞쪽의 사진들을 동그랗게 해줌*/
  }

  .wrap p {
    text-align: center;
    font-family: "Amsterdam",sans-serif;
    font-size: 32px;
    font-weight: bold;
    width: 300px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
  }
}
  @media screen and (max-width: 767px) {
    .wrap {
      width: 250px;
      height: 1700px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
    }
    .size {
        width : 250px;
        float : left;
        margin-top : 15px;
        margin-bottom : 15px;
        margin-left : 0;
        margin-right : 0;
      }
    .pic { 
        width: 250px; 
        height: 250px;
        position: relative;
    }
    .photo {
      position: absolute; 
      backface-visibility: hidden; 
      width: 100%; 
      height: 100%; 
      color: white; 
      text-align: center;
      border-radius: 50%;
      margin-top : 20px;
     }

    .front {z-index: 10;}
    .back {background: chocolate; }
    .fp {
        width : 250px;
        height : 250px;
        border-radius: 50%;
    }
    .wrap p {
      text-align: center;
      font-size : 23px;
      font-family: "Amsterdam",sans-serif;
      font-weight: bold; 
      height: 250px;
      width: 250px; 
      display: table-cell;
      vertical-align: middle;      
    }
    .wrap {
      perspective: none;
      -webkit-perspective: none;
      -moz-perspective: none;
      -ms-perspective: none;
      -o-perspective: none;
    }
    .pic { 
      -webkit-transform-style: none;
      -webkit-transition: 0.5s;
      -moz-transform-style: none;
      -moz-transition: 0.5s;
      -ms-transform-style: none;
      -ms-transition: 0.5s;
      -o-transform-style: none;
      -o-transition: 0.5s;
      transform-style: none;
      transition: 0.5s;
    }
    .photo {
      backface-visibility: none;
      -webkit-backface-visibility: none;
      -moz-backface-visibility: none;
      -ms-backface-visibility: none;
      -o-backface-visibility: none;
     }
    .back {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    .size:hover .pic {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
  }
