hr {
    margin : 0;
}
.wrap {
    text-align : center;
    width : 768px;  
    border : 1px solid black;
    box-sizing: border-box;
}
div {
    font-size : 20px;
}
.faq { 
    font-family: 'Poor Story',sans-serif;
    cursor : pointer;    
    padding: 20px;
    margin : 20px;
    font-weight: bold;
    border-top : 1.5px solid black;
    border-bottom : 1.5px solid black;

}
p {
    cursor: text;
    width : 750px;
}
.cost {
    font-weight: 100;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    font-size : 15px;
    display: none;
}
.faq:hover {
    background : #AF8672;
    color: white;
    transition-duration: 0.3s;
}