/* ----modal related---- */
 /* input box */
 .modal_inputBox{
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* input box error */
.modal_inputBox + p{
    margin: 0;
    margin-bottom: 5px;
    color:darkred;
}
/* input button */
.modal_confirmBtn{
    width: 100%;
    background-color: #512B37;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* scroll box for terms and conditions */
.modal_scroll_box{
    padding: 15px;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
    overflow-x: hidden;
    margin-bottom: 20px;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}
@media only screen and (max-width:400px) {
  .modal-content {
    width: 100%;
  }
}

/* The Close Button */
.modal_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal_close:hover,
.modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}