.wrap{
    width: 740px;
}

.description{
    margin-left: 20px;

    color:blue;
    font-size: 26px;
    font-weight: bold;
}

.timer{
    margin-right: 22px;

    color: black;
    font-size: 22px; 
    font-weight: bold;

    text-align: right;
}

.content{
    border: 3px solid skyblue;
    margin: 15px;
    width: 700px; height: 600px;
}

.content:first-child{
    margin-top: 3px;
}

.content:last-child{
    margin-bottom: 8px;
}

.redBorder{
    border-color: red !important;
}

.questionBox{
    border: 4px solid black;
    margin: 15px auto;
    padding: 10px;

    width: 370px;; height: 200px;

    border-radius: 8%;
    box-shadow: 3px 3px 3px black;
}


.questionBox #Furagana{
    height: 20%;

    line-height: 20%;
    text-align: center;

    margin-top: 50px;
}

.questionBox #hilagana{
    height: 80%;

    line-height: 20%;
    text-align: center;

    margin: 10px;
}

.example{
    margin: 0 auto;
    width: 600px; height: 300px;
}

.example > .exampleBox:nth-child(2n + 1){
    margin-left: 40px;
    margin-right: 30px;
}

.example > .exampleBox:nth-child(2n){
    margin-right: 40px;
    margin-left: 34px;
}

.exampleBox{
    position: relative;
    border: 4px solid black;
    margin: 10px;
    padding: 10px;

    width: 200px; height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;

    border-radius: 9%;
}

.largeText-3{font-size: 15px; font-weight: bold;}
.largeText-2{font-size: 17px; font-weight: bold;}
.largeText-1{font-size: 20px; font-weight: bold;}
.largeText{font-size: 23px; font-weight: bold;}
.largeText1{font-size: 35px; font-weight: bold;}
.largeText2{font-size: 50px;}
.largeText3{font-size: 65px;}
.largeText4{font-size: 80px;}

.text2{font-size: 23px; font-weight: bold;}

.greenText{color: green;}
.redText{color: red;}

.correctPercent{
    margin: 5px;
    margin-right: 10px;
    text-align: right;
}

#checkDisplay{
    position: absolute;
    left: -10px; top: -70px;

    color: green;
    font-weight: bold;
    font-size: 100px;
}

/* 드래그 방지 클래스 */
.no-drag {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

#footer > .saveBtn{
    padding: 0;
    margin: 0 auto;

    width: 150px; height: 70px;
    text-align: center;
    line-height: 70px;

    font-size: 24px;
    font-weight: bold;
    color: white;

    background-color: skyblue;

    border-radius: 10%;
    cursor: pointer;
}

#footer > .saveBtn:hover{
    background-color: rgb(190, 190, 190);   
}


/* 모바일~~~~~~~~~ */
@media screen and (max-width: 414px){

    body{
        background-color: rgb(230, 230, 230);
    }

    .wrap{
        width: 99%;
    }

    .content{
        background-color: white;
        width: 100%;
        height: 60%;
        margin-left: -1px;
    }

    .timer{
        font-size: 17px;
        margin-right: 0px;
    }

    .description{
        margin-left: 2px;
        margin-bottom: 14px;
    
        color:blue;
        font-size: 18px;
        font-weight: bold;
    }

    #questionNumber{
        font-size: 36px;

        margin-top: 10px;
    }

    .correctPercent{
        margin-right: 3px;
    }

    .questionBox{
        width: 80%;
        height: 150px;
        line-height: 150px;
        margin-bottom: 10px;
    }
   
    .example{
        width: 100%;
        height: 230px;
        margin-left: 1%;
        margin-top: 6px;
    }

    .exampleBox{
        width: 37%;
        height: 28%;
        line-height: 280%;
        margin: 4px;
    }

    .example > .exampleBox:nth-child(2n + 1){
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .example > .exampleBox:nth-child(2n){
        margin-left: 2%;
        margin-right: 2%;
    }

    .largeText-3{font-size: 15px; font-weight: bold;}
    .largeText-2{font-size: 17px; font-weight: bold;}
    .largeText-1{font-size: 12px; font-weight: bold;}
    .largeText{font-size: 16px; font-weight: bold;}
    .largeText1{font-size: 26px; font-weight: bold;}
    .largeText2{font-size: 38px;}
    .largeText3{font-size: 50px;}
    .largeText4{font-size: 65px;}

    .text2{font-size: 20px; font-weight: bold;}
}
