.bodyborder{
    border: 3px solid skyblue;
    margin: 15px;
    width: 700px; height: 670px;
}

#languageMode{
    height: 40px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;

    width: 450px;
}

.wrap{
    overflow: hidden;
    text-align: center;

    margin-top: 180px;
}

.selectButton{
    overflow: hidden;
    
    margin-top: 100px;
}

.selectButton > .selectMode{
    width: 280px; height: 280px;
    text-align: center;
    line-height: 280px;

    margin: 0 20px;
    float: left;

    font-size: 30px;
    color: white;

    border-radius: 15%;
}

.selectButton > .selectMode:nth-child(1){
    background-color: rgb(94, 94, 94);   

    margin-left: 50px;
}

.selectButton > .selectMode:nth-child(2){
    background-color: rgb(190, 190, 190);

    margin-right: 50px;
}

.selectButton > .selectMode:hover{
    background-color: skyblue;
}

/* 모바일~~~~~~~~~ */
@media screen and (max-width: 414px){

    body{
        background-color: rgb(230, 230, 230);
    }

    .bodyborder{
        background-color: white;

        margin-top: 100px;
        margin-left: -8px;
        width: 600px; height: 890px;
    }

    #languageMode{
        height: 80px;
        font-size: 26px;
    
        width: 490px;
    }

    .selectButton{
        margin-top: 120px;
    }

    .selectButton > .selectMode{
        width: 500px; height: 170px;
        line-height: 170px;
    
        font-size: 70px;

        border-radius: 3%;

        margin: 15px 35px;
        margin-left: 50px;
    }
}
