/* 카테고리 선택부분 */
#LRN_WDL_cat_wrap {
    margin: 0 auto;
    width: 750px;
    height: 100%;
    position: relative;    
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
}

#LRN_WDL_cat_test {
    width: 750px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#LRN_WDL_cat_test_JLPT {
    border-bottom: 1px solid black;
}
#LRN_WDL_cat_form {
    width: 750px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid black;
}
#LRN_WDL_cat_test_title {
    float: left;
    height: 100px;
    width: 130px;
    line-height: 100px;
    margin-left: 20px;
    font-weight: bold;
}
#LRN_WDL_cat_form_title {
    float: left;
    height: 50px;
    width: 130px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: bold;
}
.WDL_cat_list {
    float: left;
    height: 50px;
    width: 600px;
    line-height: 50px;
}
.WDL_cat_list > ul > li {
    float: left;
    padding: 0 20px;
}

.JLPT_title {
    font-weight: bold;
}

/* 단어리스트 화면 */
.WDL_list_wrap {
    border-bottom: 1px solid black;
}
.WDL_list_wrap h5 {
    margin-left: 20px;
    height: 80px;
    line-height: 80px;
    font-weight: 300;
}
.WDL_col_title > h5:first-letter{
    color: #512B37;
    font-weight: bold;
    font-size: 40px;
}

.WDL_col_title:hover {
    background-color: #D9C9B4;
    font-weight: bold;
    font-size: 40px;
    transition-duration: 0.3s;
}
/* 단어리스트 표 */
.WDL_col_table_wrap {
    width: 750px;
    height: 100%;
    margin-top: 10px;        
    margin-bottom: 10px;
}
.WDL_col_table {    
    width: 750px;
    border: 1px solid black;
}
.WDL_col_table th {
    height: 30px;
    background: #AF8672;
    color: white;   
}
.WDL_col_table td {
    height: 30px;
    text-align: center;
}
.WDL_table_list {
    background: #FFF8E1;
}

.WDL_table_form {
    width: 80px;
}
.WDL_table_test {
    width: 100px;
}
.WDL_table_kanji {
    width: 190px;
}
.WDL_table_yomigana {
    width: 190px;
}
.WDL_table_korean {
    width: 190px;
}