
@media screen and (max-width:540px) {
    
    div.container{
        padding:0;
        
    }
    .category{
        width:414px;
        height: 30px;
        margin-bottom:10px;
    }
    .category>.cate{
        padding-top:5px;
    }

    .board_section{
        min-width: 100%;
    }

    table {
        width: 90%;
        border-collapse: collapse;
        margin: 0px auto;
        /* edit by SEZI */
        margin-bottom: 40px;
    }

    table>thead {
        /* edit by SEZI */
        background-color: #AF8672;        
        font-weight: 900;
    }

    table>thead>tr {
        height: 40px;
    }

    table>tbody {
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }
    table>thead>tr>th:nth-child(1){
        display: none;
    }
    table>thead>tr>th:nth-child(4){
        display: none;
    }
    table>tbody>tr>td:nth-child(1){
        display: none;
    }
    table>tbody>tr>td:nth-child(4){
        display: none;
    }

    table>tbody>tr {
        height: 33px;
        border-bottom: 1px solid #ccc;
    }

    .board_article {
        width: 60%;
    }

    .board_section>.pagination {
        width: 210px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .pagination>.btn {
        /* border-radius: 100%; */
        margin: 0 auto;
        width: 30px;
        float: left;
        text-align: center;
        height: 25px;
        line-height: 10px;
    }

    .pagination>button {
        margin: 0 auto;
        width: 50px;
        float: left;
        text-align: center;
    }

    .pagination>ul li {
        list-style: none;
        float: left;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {

    
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    #haru_subtitle {
        width:200px;
        margin-left: 10px;
    }
}